.btn {
    $size: 128px;
    position : absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: $size;
    height: $size;
    background-color: #666;
}
.btn--red{
    background-color: red;
}
.counter{
    text-align: center;
}